---
import Navigation from "./Navigation.astro";
import Menu from "./Menu.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <div>
    <Menu />
    <ThemeIcon />
  </div>
  <Navigation />
</header>

<style>
  div {
    display: flex;
    justify-content: space-between;
  }
</style>
